<%- include("includes/heads.ejs",user) %>
<body>
    <div>
        <h1>ABOUT</h1>

        <%- include("includes/nameAndDescription.ejs",user) %>

        <%- include("includes/feedAndNewPost.ejs",user) %>
        
        <%- include("includes/followAndFollowing.ejs",user) %>
        
        <%- include("includes/showPost.ejs",user ) %>
    </div>
    
</body>
</html>

